<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Power Rankings</title>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}
        <div class="container">
            <h2>About the Rankings</h2>
            <p>
                In response to the blindly accepted chaos that is head-to-head matchups, the power rankings were devised to provide a clear, "fact" based ranking of a team within their given league.
            </p>
            <p>
                Each week teams are given points based on how many other teams in their league they would have beaten in a head-to-head matcup. In a 10-team league, the highest scoring team gets 9 points, the next highest scoring team gets 8 points, etc., and the lowest scoring team gets 0 points. At the end of the season the team with the most points becomes the Power Ranking Champion.
            </p>
            <h3>What about playoffs?</h3>
            <p>
                Playoff weeks are treated like any other week in the season. Teams that have byes will still have their Power Rankings score calculated using their team's fantasy score for that week.
            </p>
            <h3>What fantasy sites are supported?</h3>
            <p>
                The Power Rankings currently only supports fantasy football leagues with Yahoo. Support for other sites is not being planned at this time.
            </p>
        </div>
        {{template "footer" .}}
    </body>
</html>
