<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Power Rankings</title>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}
        <div class="container">
            <h2>About the Rankings</h2>
            <p>
                In response to the blindly accepted chaos that is head-to-head matchups, the power rankings were devised to provide a clear, "fact" based ranking of a team within their given league.
            </p>
            <p>
                The point system is extremely simple. Each week teams are ranked based on how many points they scored. The team with the lowest score gets one point, the next highest team gets two points, etc., and at the end of the season the team with the most points gets to call themselves the rightful champion.
            </p>
            <p>
                The Power Rankings currently only supports fantasy football leagues with Yahoo.
            </p>
        </div>
        {{template "footer" .}}
    </body>
</html>
