<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Power Rankings</title>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}
        <div class="container">
            <h2>About the Rankings</h2>
            <p>
                In response to the chaos that can often develop from head-to-head matchups, alternative methods for ranking teams in a fantasy football have been proposed over time. This website exists for owners that want to use these rankings to <strike>find an excuse</strike> judge their performance in the most fair way(s) possible.
            </p>
            <h3>Ranking Schemes</h3>
            <h4>All-Play</h4>
            <p>
                Each week teams are given wins based on how many other teams in their league they would have beaten in a head-to-head matchup. In a 10-team league, the highest scoring team gets 9 wins, the next highest scoring team gets 8 wins, etc., and the lowest scoring team gets 0 wins. At the end of the season the team with the best record becomes the Power Ranking Champion.
            </p>
            <h4>Victory Points</h4>
            <p>
                Teams are sorted based on their fantasy points for that week, and every team in the top half of the league gets one point. On other websites, you might see this method include a head-to-head component, where each team that wins their weekly matchup gets an extra point. Since this goes against everything this website believes in, this part of victory points has been eliminated.
            </p>
            <h4>Total Points</h4>
            <p>
                The simplest of the unbiased rankings. The winner of a total points league is the team with the highest cumulative fantasy points at the end of the season.
            </p>
            <h3>What about playoffs?</h3>
            <p>
                Playoff weeks are treated like any other week in the season. Teams that have byes will still be ranked using their team's fantasy score for that week.
            </p>
            <h3>What fantasy sites are supported?</h3>
            <p>
                The Power Rankings currently only supports fantasy football leagues with Yahoo. Support for other sites is not being planned at this time.
            </p>
        </div>
        {{template "footer" .}}
    </body>
</html>
