<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Something went wrong!</title>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}
        {{$config := .SiteConfig}}
        <div class="container error-container">
            <div class="error-image">
                <img src="{{.SiteConfig.StaticContext}}images/error.png"/>
                <h2>Pass Interference!</h2>
                <p class="lead">
                    {{.Message}}
                </p>
                <div class="attribution-info">
                    Original Photo By Ed Siasoco [<a href="http://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>], <a href="http://commons.wikimedia.org/wiki/File%3ABoston_Terrier_Dog_002.jpg">via Wikimedia Commons</a>
                </div>
            </div>
        </div>
        {{template "footer" .}}
    </body>
</html>
