<!DOCTYPE html>
<html lang="en">
    <head>
        {{if .LoggedIn}}
        <title>Your Leagues</title>
        {{else}}
        <title>Power Rankings</title>
        {{end}}
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}
        {{$config := .SiteConfig}}
            {{if .LoggedIn}}
            <div class="container">
                <h2>Your Leagues</h2>
                {{with .AllYears}}
                    {{range $index, $leagues := .}}
                    {{if .Leagues}}
                    <div class="league-list league-list-{{.Year}}">
                        <ul class="list-group">
                            <li class="list-group-item year-item">
                                <h4>{{getTitleFromYear .Year}}</h4>
                            </li>
                        {{range $index, $league := .Leagues}}
                            <li class="list-group-item">
                                <a href="{{$config.BaseContext}}/league?key={{.LeagueKey}}">{{.Name}}</a>
                            </li>
                        {{end}}
                        </ul>
                    </div>
                    {{end}}
                {{end}}
            </div>
            {{end}}
            {{else}}
            <div class="overview-jumbotron jumbotron">
                <div class="container">
                    <h1>Power Rankings</h1>
                    <p>
                        View alternative rankings for any Yahoo Fantasy Football league.
                    </p>
                    <p>
                        Rank your league on performance, not head-to-head matchups.
                    </p>
                    <p>
                        <a class="btn btn-info login-link" href="{{.SiteConfig.BaseContext}}/login">Sign in with Yahoo <span class="glyphicon glyphicon-log-in"></span></a>
                    </p>
                </div>
            </div>
            {{end}}
        </div>
        {{template "footer" .}}
    </body>
</html>
