<!DOCTYPE html>
<html lang="en">
    <head>
        {{if .LoggedIn}}
        <title>Your Leagues</title>
        {{else}}
        <title>Power Rankings</title>
        {{end}}
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}
        {{$config := .SiteConfig}}
            {{if .LoggedIn}}
            <div class="container">
                <h2>Your Leagues</h2>
                {{with .AllYears}}
                    {{range $index, $leagues := .}}
                    {{if .Leagues}}
                    <div class="league-list league-list-{{.Year}}">
                        <h3>{{getTitleFromYear .Year}}</h3>
                        <ul>
                        {{range $index, $league := .Leagues}}
                            <li>
                                <a href="{{$config.BaseContext}}/league?key={{.LeagueKey}}">{{.Name}}</a>
                            </li>
                        {{end}}
                        </ul>
                    </div>
                    {{end}}
                {{end}}
            </div>
            {{end}}
            {{else}}
            <div class="overview-jumbotron jumbotron">
                <div class="container">
                    <h1>Power Rankings</h1>
                    <p>
                        Calculate "all-play" records for any Yahoo Fantasy Football league since 2001.
                    </p>
                    <p>
                        Rank your league on performance, not head-to-head matchups.
                    </p>
                    <p>
                        <a href="{{.SiteConfig.BaseContext}}/login"><img src="{{.SiteConfig.StaticContext}}images/y-open-id-button.png" alt="Sign in with Yahoo"/></a>
                    </p>
                </div>
            </div>
            {{end}}
        </div>
        {{template "footer" .}}
    </body>
</html>
