<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.League.Name}} Power Rankings</title>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}
        <div class="container">
        {{if .}}
            <h2>{{.League.Name}}
                <button type="button" class="btn btn-primary toggle-display showing-power">
                    <span class="power-visible">Show All-Play Records</span>
                    <span class="record-visible hidden">Show Power Points</span>
                </button>
            </h2>
            {{if .LeagueStarted}}
                {{$finished := .League.IsFinished}}
                <div class="overall overall-table">
                    <h3>Overall through {{.Weeks}} Weeks</h3>
                    <div class="scrollable">
                        <div class="overall-table-container">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Team</th>
                                        <th>
                                            <span class="power-visible">Power Points</span>
                                            <span class="record-visible hidden">Record</span>
                                        </th>
                                        {{if not $finished}} 
                                            <th>
                                                <span class="power-visible">Projected Power Points</span>
                                                <span class="record-visible hidden">Projected Record</span>
                                            </th>
                                        {{end}}
                                        <th>
                                            League Rank (+/-)
                                        </th>
                                        <th>
                                            League Record
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{with .LeaguePowerData}}
                                    {{with .OverallRankings}}
                                        {{$overall := .}}
                                        {{range $index, $teamRanking := .}}
                                            {{if .Team.IsOwnedByCurrentLogin}}
                                            <tr id="overall-{{.Team.TeamID}}" class="team-row team-{{.Team.TeamID}} team-pos-{{getTeamPosition .Team.TeamID $overall}} team-selected">
                                            {{else}}
                                            <tr id="overall-{{.Team.TeamID}}" class="team-row team-{{.Team.TeamID}} team-pos-{{getTeamPosition .Team.TeamID $overall}}">
                                            {{end}}
                                                <td>{{.Rank}}</td>
                                                <td>{{.Team.Name}}</td>
                                                <td>
                                                    <span class="power-visible">{{printf "%.0f" .TotalPowerScore}}</span>
                                                    <span class="record-visible hidden">{{.OverallRecord.Wins}} - {{.OverallRecord.Losses}} - {{.OverallRecord.Ties}}</span>
                                                </td>
                                                {{if not $finished}} 
                                                    <td>
                                                        <span class="power-visible">{{printf "%.0f" .ProjectedPowerScore}}</span>
                                                        <span class="record-visible hidden">{{.OverallProjectedRecord.Wins}} - {{.OverallProjectedRecord.Losses}} - {{.OverallProjectedRecord.Ties}}</span>
                                                    </td>
                                                {{end}}
                                                <td>{{.Team.TeamStandings.Rank}}
                                                    ({{getRankOffset .Rank .Team.TeamStandings.Rank}})</td>
                                                <td>
                                                    {{.Team.TeamStandings.Record.Wins}} -
                                                    {{.Team.TeamStandings.Record.Losses}} -
                                                    {{.Team.TeamStandings.Record.Ties}}
                                                </td>
                                            </tr>
                                        {{end}}
                                    {{end}}
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                        {{if .LeaguePowerData}}
                            <div class="standings">
                                {{$rankings := getRankings .LeaguePowerData .League.IsFinished}}
                                {{if .League.IsFinished}}
                                    <h3>Final Standings</h3>
                                {{else}}
                                    <h3>Projected Final Standings</h3>
                                {{end}}
                                {{range $i, $teamData := getPlacingTeams $rankings}}
                                    {{template "final_standing" $teamData}}
                                {{end}}
                            </div>
                        {{end}}
                    <div style="clear:both;"></div>
                {{with .LeaguePowerData}}
                    {{$allPowerData := .}}
                    {{with .ByWeek}}
                        {{range $index, $ranking := .}}
                            {{$week := .Week}}
                            {{if .Projected}}
                                <div class="weekly week-{{$week}} projection">
                                <h3>Week {{$week}}*</h3>
                            {{else}}
                                <div class="weekly week-{{$week}}">
                                <h3>Week {{$week}}</h3>
                            {{end}}
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Team</th>
                                            <th>Fantasy</th>
                                            <th>
                                                <span class="power-visible">Points</span>
                                                <span class="record-visible hidden">Record</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {{with .Rankings}}
                                        {{$rankings := .}}
                                        {{range $index, $score := .}}
                                            {{$teamPowerData := index $allPowerData.ByTeam .Team.TeamKey}}
                                            {{if .Team.IsOwnedByCurrentLogin}}
                                            <tr class="team-row team-{{.Team.TeamID}} team-pos-{{getTeamPosition .Team.TeamID $allPowerData.OverallRankings}} team-selected">
                                            {{else}}
                                            <tr class="team-row team-{{.Team.TeamID}} team-pos-{{getTeamPosition .Team.TeamID $allPowerData.OverallRankings}}">
                                            {{end}}
                                                <td>{{.Team.Name}}</td>
                                                <td>{{printf "%.2f" .Score}}</td>
                                                {{$record := getRecord $week $teamPowerData.AllScores}}
                                                <td>
                                                    <span class="power-visible">{{getPowerScore $week $teamPowerData.AllScores}}</span>
                                                    <span class="record-visible hidden">{{$record.Wins}} - {{$record.Losses}} - {{$record.Ties}}</span>
                                                </td>
                                            </tr>
                                        {{end}}     
                                    {{end}} 
                                    </tbody>
                                </table>
                            </div>
                        {{end}}
                    {{end}}
                {{end}}
                {{if not $finished}}
                    <div class="projection-note projection">
                        <p>* Projected scores</p>
                    </div>
                {{end}}
            {{else}}
                <p class="Lead">League has not yet started</p>
            {{end}}
        {{else}}
            <p class="Lead">There was an error generating the rankings.</p>
        {{end}}
        </div>
        {{template "footer" .}}
        <script src="{{.SiteConfig.StaticContext}}js/power-rankings.js"></script>
    </body>
</html>

{{define "final_standing"}}
{{$rank := getActualRank .}}
<div class="place-{{$rank}} standing">
    <div class="place">
        {{$sup := getPlaceFromRank $rank "st" "nd" "rd"}}
        {{$rank}}<sup>{{$sup}}</sup>
    </div>
    <div class="logo">
        {{$logo := index .Team.TeamLogos 0}}
        <img src="{{$logo.URL}}"/>
    </div>
    <div class="team">
        {{.Team.Name}}
    </div>
</div>
{{end}}
