<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.League.Name}} Power Rankings</title>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}
        <div class="container">
        {{if .}}
        {{$showRecords := .DisplayAllPlayRecords}}
            <h2>{{.League.Name}}
                {{if .LeagueStarted}}
                    <button type="button" class="btn btn-primary toggle-display">
                        <span class="power-visible {{if $showRecords}} hidden {{end}}">
                            Show All-Play Records
                        </span>
                        <span class="record-visible {{if not $showRecords}} hidden {{end}}">
                            Show Power Points
                        </span>
                    </button>
                {{end}}
            </h2>
            {{if .LeagueStarted}}
                {{$finished := .League.IsFinished}}
                {{$currentWeek := .Weeks}}
                <div class="overall overall-table">
                    <div class="rankings-data-actions">
                        <a class="graph-data-link rankings-action"
                           title="Graph Power Rankings"
                           data-toggle="modal"
                           data-target=".graph-modal">
                           <span class="graph-data-label rankings-action-label">Graph</span>
                           <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        </a>
                        <a class="export-data-link rankings-action"
                           title="Export Power Rankings"
                           data-toggle="modal"
                           data-target=".export-modal">
                           <span class="export-data-label rankings-action-label">Export</span>
                           <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3>Overall through {{$currentWeek}} Weeks</h3>
                    <div style="clear: right;"></div>
                    <div class="modal fade graph-modal rankings-modal"
                         tabindex="-1"
                         role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="rankings-chart">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade export-modal rankings-modal"
                         tabindex="-1"
                         role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="export-option export-option-1">
                                        <a class="btn btn-primary"
                                           href="data:text/csv;base64,{{getCSVContent .LeaguePowerData}}"
                                           download="{{getExportFilename .League}}.csv">
                                           <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                           <br/>
                                           <br/>
                                           Download as CSV
                                        </a>
                                    </div>
                                    <div class="export-option export-option-2">
                                        <a class="btn btn-primary newsletter-export">
                                           <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                           <br/>
                                           <br/>
                                            Newsletter Template
                                        </a>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="modal-footer hidden newsletter-container">
                                    {{if $finished}}
                                    <h4>{{.League.Name}} Final Power Rankings</h4>
                                    {{else}}
                                    <h4>{{.League.Name}} Power Rankings Week {{$currentWeek}}</h4>
                                    {{end}}
                                    {{with .LeaguePowerData}}
                                        {{with .OverallRankings}}
                                            {{$overall := .}}
                                            {{range $index, $teamRanking := .}}
                                            {{$previous := getRankForPreviousWeek . $currentWeek}}
                                            <h5>{{.Rank}}.
                                                    {{if $previous}}
                                                        {{if lt $previous.Offset 0}}
                                                        <span class="rank-decrease">
                                                            (▾ {{getAbsoluteValue $previous.Offset}})
                                                        </span>
                                                        {{else if gt $previous.Offset 0}}
                                                        <span class="rank-increase">
                                                            (▴ {{$previous.Offset}})
                                                        </span>
                                                        {{end}}
                                                    {{end}}
                                                    {{.Team.Name}} -
                                                    {{printf "%.0f" .TotalPowerScore}} Power Points -
                                                    {{.OverallRecord.Wins}}-{{.OverallRecord.Losses}}-{{.OverallRecord.Ties}} Overall
                                            </h5>
                                            {{end}}
                                        {{end}}
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scrollable">
                        <div class="overall-table-container">
                            <table class="sortable table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="rank sorter-false"></th>
                                        <th class="overall-header-team">Team</th>
                                        <th class="tablesorter-headerDesc overall-header-actual">
                                            <span class="power-visible {{if $showRecords}} hidden {{end}}">
                                                Power Points
                                            </span>
                                            <span class="record-visible {{if not $showRecords}} hidden {{end}}">
                                                Record
                                            </span>
                                        </th>
                                        {{if not $finished}} 
                                            <th class="overall-header-projected">
                                                <span class="power-visible {{if $showRecords}} hidden {{end}}">
                                                    Projected Power Points
                                                </span>
                                                <span class="record-visible {{if not $showRecords}} hidden {{end}}">
                                                    Projected Record
                                                </span>
                                            </th>
                                        {{end}}
                                        <th class="overall-header-league-rank">
                                            League Rank (+/-)
                                        </th>
                                        <th class="overall-header-league-record">
                                            League Record
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{with .LeaguePowerData}}
                                    {{with .OverallRankings}}
                                        {{$overall := .}}
                                        {{range $index, $teamRanking := .}}
                                            {{if .Team.IsOwnedByCurrentLogin}}
                                            <tr id="overall-{{.Team.TeamID}}" class="team-row team-{{.Team.TeamID}} team-pos-{{getTeamPosition .Team.TeamID $overall}} team-selected">
                                            {{else}}
                                            <tr id="overall-{{.Team.TeamID}}" class="team-row team-{{.Team.TeamID}} team-pos-{{getTeamPosition .Team.TeamID $overall}}">
                                            {{end}}
                                                <td class="rank">{{.Rank}}</td>
                                                <td>{{.Team.Name}}</td>
                                                <td>
                                                    <span class="power-visible {{if $showRecords}} hidden {{end}}">
                                                        {{printf "%.0f" .TotalPowerScore}}
                                                    </span>
                                                    <span class="record-visible {{if not $showRecords}} hidden {{end}}">
                                                        {{.OverallRecord.Wins}} -
                                                        {{.OverallRecord.Losses}} -
                                                        {{.OverallRecord.Ties}}
                                                    </span>
                                                </td>
                                                {{if not $finished}} 
                                                    <td>
                                                        <span class="power-visible {{if $showRecords}} hidden {{end}}">
                                                            {{printf "%.0f" .ProjectedPowerScore}}
                                                        </span>
                                                        <span class="record-visible {{if not $showRecords}} hidden {{end}}">
                                                            {{.OverallProjectedRecord.Wins}} -
                                                            {{.OverallProjectedRecord.Losses}} -
                                                            {{.OverallProjectedRecord.Ties}}
                                                        </span>
                                                    </td>
                                                {{end}}
                                                <td>{{.Team.TeamStandings.Rank}}
                                                    ({{getRankOffset .Rank .Team.TeamStandings.Rank}})</td>
                                                <td>
                                                    {{.Team.TeamStandings.Record.Wins}} -
                                                    {{.Team.TeamStandings.Record.Losses}} -
                                                    {{.Team.TeamStandings.Record.Ties}}
                                                </td>
                                            </tr>
                                        {{end}}
                                    {{end}}
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                        {{if .LeaguePowerData}}
                            <div class="standings">
                                {{$rankings := getRankings .LeaguePowerData .League.IsFinished}}
                                {{if .League.IsFinished}}
                                    <h3>Final Standings</h3>
                                {{else}}
                                    <h3>Projected Final Standings</h3>
                                {{end}}
                                {{range $i, $teamData := getPlacingTeams $rankings}}
                                    {{template "final_standing" $teamData}}
                                {{end}}
                            </div>
                        {{end}}
                    <div style="clear:both;"></div>
                {{with .LeaguePowerData}}
                    {{$allPowerData := .}}
                    {{with .ByWeek}}
                        {{range $index, $ranking := .}}
                            {{$week := .Week}}
                            {{if .Projected}}
                                <div class="weekly week-{{$week}} projection">
                                <h3>Week {{$week}}*</h3>
                            {{else}}
                                <div class="weekly week-{{$week}}">
                                <h3>Week {{$week}}</h3>
                            {{end}}
                                <table class="sortable table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Team</th>
                                            <th class="tablesorter-headerDesc">Fantasy</th>
                                            <th>
                                                <span class="power-visible {{if $showRecords}} hidden {{end}}">
                                                    Points
                                                </span>
                                                <span class="record-visible {{if not $showRecords}} hidden {{end}}">
                                                    Record
                                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {{with .Rankings}}
                                        {{$rankings := .}}
                                        {{range $index, $score := .}}
                                            {{$teamPowerData := index $allPowerData.ByTeam .Team.TeamKey}}
                                            {{if .Team.IsOwnedByCurrentLogin}}
                                            <tr id="week-{{$week}}-{{.Team.TeamID}}" class="team-row team-{{.Team.TeamID}} team-pos-{{getTeamPosition .Team.TeamID $allPowerData.OverallRankings}} team-selected">
                                            {{else}}
                                            <tr id="week-{{$week}}-{{.Team.TeamID}}" class="team-row team-{{.Team.TeamID}} team-pos-{{getTeamPosition .Team.TeamID $allPowerData.OverallRankings}}">
                                            {{end}}
                                                <td>{{.Team.Name}}</td>
                                                <td>{{printf "%.2f" .Score}}</td>
                                                {{$record := getRecord $week $teamPowerData}}
                                                <td>
                                                    <span class="power-visible {{if $showRecords}} hidden {{end}}">
                                                        {{getPowerScore $week $teamPowerData}}
                                                    </span>
                                                    <span class="record-visible {{if not $showRecords}} hidden {{end}}">
                                                        {{$record.Wins}} -
                                                        {{$record.Losses}} -
                                                        {{$record.Ties}}
                                                    </span>
                                                </td>
                                            </tr>
                                        {{end}}     
                                    {{end}} 
                                    </tbody>
                                </table>
                            </div>
                        {{end}}
                    {{end}}
                {{end}}
                {{if not $finished}}
                    <div class="projection-note projection">
                        <p>* Projected scores</p>
                    </div>
                {{end}}
            {{else}}
                <p class="Lead">League has not yet started</p>
            {{end}}
        {{else}}
            <p class="Lead">There was an error generating the rankings.</p>
        {{end}}
        </div>
        {{template "footer" .}}
        <script src="{{.SiteConfig.StaticContext}}js/power-rankings.js"></script>
        <script src="//code.highcharts.com/highcharts.js"></script>
        {{if and . .LeaguePowerData}}
        <script>
            var colors = [
                'hsl(100, 58%, 75%)',
                'hsl(130, 58%, 75%)',
                'hsl(160, 58%, 75%)',
                'hsl(190, 58%, 75%)',
                'hsl(220, 58%, 75%)',
                'hsl(250, 58%, 75%)',
                'hsl(280, 58%, 75%)',
                'hsl(310, 58%, 75%)',
                'hsl(340, 58%, 75%)',
                'hsl(10, 58%, 75%)',
                'hsl(40, 58%, 75%)',
                'hsl(70, 58%, 75%)',
                'hsl(100, 48%, 55%)',
                'hsl(130, 48%, 55%)',
                'hsl(160, 48%, 55%)',
                'hsl(190, 48%, 55%)',
                'hsl(220, 48%, 55%)',
                'hsl(250, 48%, 55%)',
                'hsl(280, 48%, 55%)',
                'hsl(310, 48%, 55%)'
            ];
            var selectedTeamsById = {};
            {{range .LeaguePowerData.OverallRankings}}
                {{if .Team.IsOwnedByCurrentLogin}}
                    selectedTeamsById[{{.Team.TeamID}}] = true;
                {{end}}
            {{end}}
            $('.team-row').click(function() {
                var teamId = getTeamId($(this).attr("id"));
                selectedTeamsById[teamId] = !selectedTeamsById[teamId];
            });
            $('.graph-modal').on("show.bs.modal", function () { 
                $('.rankings-chart').hide();
            });
            $('.graph-modal').on("shown.bs.modal", function () { 
                $('.rankings-chart').show();
                $('.rankings-chart').highcharts({
                    chart: {
                        type: 'spline',
                        spacingRight: 40,
                        animation: false
                    },
                    title: {
                        text: 'Weekly Power Rank'
                    },
                    xAxis: {
                        title: {
                            text: 'Week'
                        },
                        categories: [
                        {{with .LeaguePowerData}}
                            {{$allPowerData := .}}
                            {{with .ByWeek}}
                                {{range $index, $ranking := .}}
                                    '{{.Week}}',
                                {{end}}
                            {{end}}
                        {{end}}
                        ]
                    },
                    yAxis: {
                        title: {
                            text: 'Rank'
                        },
                        min: 1,
                        max: {{len .LeaguePowerData.OverallRankings}},
                        tickInterval: 1,
                        reversed: true,
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    legend: {
                        align: 'center',
                        borderWidth: 0,
                        title: {
                            text: 'Choose Teams:'
                        }
                    },
                    tooltip: {
                        formatter: function() {
                            var output = '<b>' + this.series.name + '</b>';
                            output += '<br/>';
                            output += 'Week ' + this.x + ' Rank: ' + this.y;
                            return output;
                        }
                    },
                    plotOptions: {
                        series: {
                            events: {
                                legendItemClick: function () {
                                    $('#overall-' + this.options.teamId).trigger(
                                                'click');
                                }
                            }
                        }
                    },           
                    series: [
                        {{range $index, $teamData := .LeaguePowerData.OverallRankings}}
                            {
                                name: '{{$teamData.Team.Name}}',
                                color: colors[{{$index}}],
                                visible: selectedTeamsById[{{$teamData.Team.TeamID}}] == true,
                                teamId: {{$teamData.Team.TeamID}},
                                data: [
                                    {{range $j, $ranking := $teamData.AllRankings}}
                                        {{$ranking.Rank}},        
                                    {{end}}
                                ]
                            },
                        {{end}}
                    ]
                })
            });
        </script>
        {{end}}
    </body>
</html>

{{define "final_standing"}}
{{$rank := getActualRank .}}
<div class="place-{{$rank}} standing">
    <div class="place">
        {{$sup := getPlaceFromRank $rank "st" "nd" "rd"}}
        {{$rank}}<sup>{{$sup}}</sup>
    </div>
    <div class="logo">
        {{$logo := index .Team.TeamLogos 0}}
        <img src="{{$logo.URL}}"/>
    </div>
    <div class="team">
        {{.Team.Name}}
    </div>
</div>
{{end}}
