
html,
body {
    height: 100%;
    background-color: #DDD;
}

.container {
    width: 95%;
    margin: auto;
}

.navbar {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    min-height: 55px;
}

.navbar-brand {
    padding: 2px;
}

.navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px;
}

.site-logo {
    width: 85px;
    opacity: 0.85
}

.site-logo:hover {
    opacity: 1.0
}

.overview-jumbotron {
    background: #6e329d;
    background-image: url("../images/power-podium.png"); /* fallback */
    background-image: url("../images/power-podium.png"), -webkit-gradient(linear, left top, left bottom, from(#6e329d), to(#1C092C)); /* Saf4+, Chrome */
    background-image: url("../images/power-podium.png"), -webkit-linear-gradient(top, #6e329d, #1C092C); /* Chrome 10+, Saf5.1+ */
    background-image: url("../images/power-podium.png"),    -moz-linear-gradient(top, #6e329d, #1C092C); /* FF3.6+ */
    background-image: url("../images/power-podium.png"),     -ms-linear-gradient(top, #6e329d, #1C092C); /* IE10 */
    background-image: url("../images/power-podium.png"),      -o-linear-gradient(top, #6e329d, #1C092C); /* Opera 11.10+ */
    background-image: url("../images/power-podium.png"),         linear-gradient(to bottom, #6e329d, #1C092C); /* W3C */
    background-repeat: no-repeat;
    background-position: right bottom;

    color: #FFF;
    margin-top: -20px;
}

.overview-jumbotron h1 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background: #6e329d;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background: #602b88;
    border-color: #542678;
}

.toggle-display {
    margin-top: 5px;
    width: 100%;
    float: right;
}

@media (min-width: 768px) {
    .toggle-display {
        margin-top: 0px;
        width: 175px;
    }
}

.weekly {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

@media (min-width: 768px) {
    .weekly {
        width: 49.5%;
    }
}

@media (min-width: 1000px) {
    .weekly {
        width: 32.5%;
    }
}

@media (min-width: 1500px) {
    .weekly {
        width: 24.5%;
    }
}

.weekly h2 {
    font-size: 25px;
}

.projection {
    opacity: 0.75;
}

.export-data {
    float: right;
    position: relative;
    padding-right: 5px;
}

.export-data-link {
    font-size: 15px;
    color: #000;
    opacity: 0.25;
    text-decoration: none;
}

a.export-data-link:hover {
    color: #000;
    opacity: 0.45;
    cursor: pointer;
    text-decoration: none;
}
.export-modal .modal-header {
    border-bottom: 0px;
}

.export-option {
    width: 100%;
    float: left;
    margin: 5px;
    text-align: center;
}

@media (min-width: 600px) {
    .export-option {
        width: 48%;
    }
}

.export-option a {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.export-option .glyphicon {
    font-size: 65px;
    padding-left: 10px;
}

.newsletter-export.selected {
    background: #411662;
    border-color: #2D0B49;
}

.newsletter-container {
    text-align: left;
}

.newsletter-container h5 {
    font-weight: bold;
}

.overall-table .team-row {
    cursor: pointer;
}

.overall-table {
    width: 100%;
    float: left;
}

@media (min-width: 1300px) {
    .overall-table {
        width: 65.5%;
    }
}

.overall-table h3 {
    padding: 0.25em 0;
    margin: 0;
}

.overall-table table {
    min-width: 765px;
    margin-bottom: 5px;
}

.overall-table td.rank {
    text-align: right;
    width: 33px;
}

table.sortable th {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIABAKKprP///yH5BAEAAAEALAIAAAASAAkAAAIUjI+AywHf2psxTVpzvThzfXSg0xQAOw==);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.sortable th.sorter-false {
    background: none;
}

table.sortable th.tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIABAE1UV////yH5BAEAAAEALAIAAAASAAQAAAIMjI8ByQnf2psRzXsKADs=);
    background-repeat: no-repeat;
    background-position: center right;
}

table.sortable th.tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIABAE1UV////yH5BAEAAAEALAIAAAASAAQAAAIMjB+gC+jH2ptr2jQLADs=);
    background-repeat: no-repeat;
    background-position: center right;
}

.table>thead>tr>th {
    padding-right: 15px;
}

.scrollable {
    position: relative;
    overflow: hidden; 
}

.scrollable:after {
    position: absolute;
    top: 0;
    left: 100%;
    width: 50px;
    height: 100%;
    border-radius: 10px 0 0 10px / 50% 0 0 50%;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
    content: '';
}

@media (min-width: 860px) {
    .scrollable:after {
        box-shadow: none;
    }
}
 
.overall-table-container {
    overflow-x: auto;
}

.standings {
    float: left;
    width: 100%;
}

@media (min-width: 1300px) {
    .standings {
        width: 32.5%;
        padding-left: 15px;
    }
}

.standings h3 {
    border-bottom: 1px solid #CCC;
    padding: 0.25em 0;
    margin: 0;
}

.standing {
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    padding: 0.75em 0.25em;
}

.standing div {
    display: inline-block;
    vertical-align: middle;
}

.standing img {
    height: 55px;
    border: 1px solid #CCC;
    border-radius: 60px;
}

.standing .place {
    width: 60px;
    padding: 10px;
    text-align: center;
    font-size: 28px;
}

.place-1 {
    color: #444;
}

.place-2 {
    color: #6A6A6A;
}

.place-3 {
    color: #999;
}

.standing .team {
    font-size: 22px;
    padding: 10px;
}

.team-hover td {
    background: #EEEEEE !important;
}

.team-selected td {
    font-weight: bold;
}

.league-list {
    display: inline-block;
    vertical-align: top;
    min-width: 200px;
    padding: 5px;
    width: 100%
}

@media (min-width: 768px) {
    .league-list {
        width: 32.5%;
    }
}

@media (min-width: 1200px) {
    .league-list {
        width: 24.5%;
    }
}

.league-list h3 {
    margin: 0.25em 0;
    border-bottom: 1px solid #DDD;
}

.league-list ul {
    padding-left: 0px;
    list-style: none;
}

#wrap {
    min-height: 100%;
    height: auto;
    background: #FFF;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #DDD;
    border-top: 1px solid #CCC;
    color: #666;
}

#footer p {
    margin: 18px 0;
}

/**
 * Visually distinct highlight colors for each team (up to 20)
 */
.team-selected.team-pos-1 td {
    background: hsl(100, 58%, 75%) !important;
}

.team-selected.team-pos-2 td {
    background: hsl(130, 58%, 75%) !important;
}

.team-selected.team-pos-3 td {
    background: hsl(160, 58%, 75%) !important;
}

.team-selected.team-pos-4 td {
    background: hsl(190, 58%, 75%) !important;
}

.team-selected.team-pos-5 td {
    background: hsl(220, 58%, 75%) !important;
}

.team-selected.team-pos-6 td {
    background: hsl(250, 58%, 75%) !important;
}

.team-selected.team-pos-7 td {
    background: hsl(280, 58%, 75%) !important;
}

.team-selected.team-pos-8 td {
    background: hsl(310, 58%, 75%) !important;
}

.team-selected.team-pos-9 td {
    background: hsl(340, 58%, 75%) !important;
}

.team-selected.team-pos-10 td {
    background: hsl(10, 58%, 75%) !important;
}

.team-selected.team-pos-11 td {
    background: hsl(40, 58%, 75%) !important;
}

.team-selected.team-pos-12 td {
    background: hsl(70, 58%, 75%) !important;
}

.team-selected.team-pos-13 td {
    background: hsl(100, 48%, 55%) !important;
}

.team-selected.team-pos-14 td {
    background: hsl(130, 48%, 55%) !important;
}

.team-selected.team-pos-15 td {
    background: hsl(160, 48%, 55%) !important;
}

.team-selected.team-pos-16 td {
    background: hsl(190, 48%, 55%) !important;
}

.team-selected.team-pos-17 td {
    background: hsl(220, 48%, 55%) !important;
}

.team-selected.team-pos-18 td {
    background: hsl(250, 48%, 55%) !important;
}

.team-selected.team-pos-19 td {
    background: hsl(280, 48%, 55%) !important;
}

.team-selected.team-pos-20 td {
    background: hsl(310, 48%, 55%) !important;
}
