
html,
body {
    height: 100%;
}

.container {
    width: 95%;
    margin: auto;
}

.navbar {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    min-height: 55px;
}

.navbar-brand {
    padding: 2px;
}

.navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px;
}

.site-logo {
    width: 85px;
    opacity: 0.85
}

.site-logo:hover {
    opacity: 1.0
}

.weekly {
    float: left;
    width: 24%;
    min-width: 320px;
    margin: 5px;
}

.weekly h2 {
    font-size: 25px;
}

.projection {
    opacity: 0.75;
}

.overall-table .team-row {
    cursor: pointer;
}

.overall-table {
    width: 50%;
    float: left;
}

.overall-table h3 {
    padding: 0.25em 0;
    margin: 0;
}

.standings {
    margin-left: 15px;
    float: left;
}

.standings h3 {
    border-bottom: 1px solid #CCC;
    padding: 0.25em 0;
    margin: 0;
}

.standing {
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    padding: 0.75em 0.25em;
}

.standing div {
    display: inline-block;
    vertical-align: middle;
}

.standing img {
    height: 55px;
    border: 1px solid #CCC;
    border-radius: 60px;
}

.standing .place {
    width: 60px;
    padding: 10px;
    text-align: center;
    font-size: 28px;
}

.place-1 {
    color: #444;
}

.place-2 {
    color: #6A6A6A;
}

.place-3 {
    color: #999;
}

.standing .team {
    font-size: 22px;
    padding: 10px;
}

.team-hover td {
    background: #EEEEEE !important;
}

.team-selected td {
    font-weight: bold;
}

.league-list {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    min-width: 200px;
    margin: 5px;
}

.league-list h3 {
    margin: 0.25em 0;
    border-bottom: 1px solid #DDD;
}

.league-list ul {
    padding-left: 0px;
    list-style: none;
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #DDD;
    border-top: 1px solid #CCC;
    color: #666;
}

#footer p {
    margin: 18px 0;
}

/**
 * Visually distinct highlight colors for each team (up to 20)
 */
.team-selected.team-pos-1 td {
    background: hsl(100, 58%, 75%) !important;
}

.team-selected.team-pos-2 td {
    background: hsl(130, 58%, 75%) !important;
}

.team-selected.team-pos-3 td {
    background: hsl(160, 58%, 75%) !important;
}

.team-selected.team-pos-4 td {
    background: hsl(190, 58%, 75%) !important;
}

.team-selected.team-pos-5 td {
    background: hsl(220, 58%, 75%) !important;
}

.team-selected.team-pos-6 td {
    background: hsl(250, 58%, 75%) !important;
}

.team-selected.team-pos-7 td {
    background: hsl(280, 58%, 75%) !important;
}

.team-selected.team-pos-8 td {
    background: hsl(310, 58%, 75%) !important;
}

.team-selected.team-pos-9 td {
    background: hsl(340, 58%, 75%) !important;
}

.team-selected.team-pos-10 td {
    background: hsl(10, 58%, 75%) !important;
}

.team-selected.team-pos-11 td {
    background: hsl(40, 58%, 75%) !important;
}

.team-selected.team-pos-12 td {
    background: hsl(70, 58%, 75%) !important;
}

.team-selected.team-pos-13 td {
    background: hsl(100, 48%, 55%) !important;
}

.team-selected.team-pos-14 td {
    background: hsl(130, 48%, 55%) !important;
}

.team-selected.team-pos-15 td {
    background: hsl(160, 48%, 55%) !important;
}

.team-selected.team-pos-16 td {
    background: hsl(190, 48%, 55%) !important;
}

.team-selected.team-pos-17 td {
    background: hsl(220, 48%, 55%) !important;
}

.team-selected.team-pos-18 td {
    background: hsl(250, 48%, 55%) !important;
}

.team-selected.team-pos-19 td {
    background: hsl(280, 48%, 55%) !important;
}

.team-selected.team-pos-20 td {
    background: hsl(310, 48%, 55%) !important;
}
